
<!DOCTYPE html>
<html lang="en">
  
  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    
    <title>GeekZone</title>
    
    <!-- Bootstrap core CSS -->
    <link href="resources/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    
    <!-- Custom styles for this template -->
    <link href="resources/css/shop-homepage.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <style>
  @font-face {
    font-family: 'game';
    src: url('resources/fonts/game.ttf');
  }
  
  @font-face {
    font-family: 'pixel';
    /* src: url('../resources/fonts/PixelOperatorHB.ttf'); */
    src: url('resources/fonts/PixelOperatorMono.ttf');
  }

  
  #cadastro {
    font-family: pixel;
    font-size: 25px;
    padding-left: 15%;
  }

input#nome_cad{
  border-top: none;
  border-left: none;
  border-right: none;
  width: 90%;
  font-size: 20px;
  color: #696969;
}

input#preco{
  border: none;
  color: green;
  width: 10%;
}

.ast {
  color: red;
}


</style>

</head>

<body>
  
  

  <div id="inicial">

<div  style="overflow-y: auto;" data-keyboard="false" class="modal fade" id="modalConfirma" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true" data-backdrop="static">
<div class="modal-dialog modal-lg" role="document">
  <div class="modal-content">
    <div class="modal-header d-flex justify-content-center" style="background-color: #33b5e5; font-family: pixel; color:whitesmoke; font-size: 28px;">
      <div style="padding-left: 40%;">
        <p class="heading">Confirmação</p>
      </div>
      <button onclick="location.reload();" type="button" class="close" data-dismiss="modal" style="text-align: right; color: whitesmoke;"
          aria-label="Close" style="text-align: right; padding-right: 20px; padding-top: 10px;">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="row" style="font-family: pixel;">
        <div class="col-lg-11 formulario">
            <br>
            <div class="modal-body">
              <h4 style="color: #696969;">Olá cliente, faltam poucos passos para concluir sua compra.<br> Valor total de produtos: <span style="color: green;">R$ {{ totalProduto }}</span> 
                <br> Valor total do frete: <span style="color:green">R$ {{ venda.valorFrete }}</span>
                <br> Total: <span style="color:green">R$ {{ totalFreteProduto }}</span>
                <br> Clique em pagar para dar continuidade.
              </h4>
            </div>
        </div>
        <div class="card-body">
          <div class="text-center">
            <div ref="myform" ></div>
            <!-- <form action="aguarde.html" method="POST" ref="myform"></form>       -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

    <div  style="overflow-y: auto;" data-keyboard="false" class="modal fade" id="modalDadosPessoais" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true" data-backdrop="static">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header d-flex justify-content-center" style="background-color: #33b5e5; font-family: pixel; color:whitesmoke; font-size: 28px;">
          <div style="padding-left: 30%;">
            <p class="heading">Informações pessoais</p>
          </div>
          <button  onclick="location.reload();" type="button" class="close" data-dismiss="modal" style="text-align: right; color: whitesmoke;"
              aria-label="Close" style="text-align: right; padding-right: 20px; padding-top: 10px;">
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-11 formulario">
              <div id="cadastro">
                <br>
                <p> 
                  <label for="nome_cad">Email<span class="ast">*</span></label><br>
                  <input v-model="venda.emailComprador"  id="nome_cad" name="nome_cad" type="email" placeholder="Email para recebimento de informações adicionais" required/>
                </p>
                <p> 
                  <label for="nome_cad">CPF<span class="ast">*</span></label><br>
                  <input v-bind:value="usuario.cpf" id="nome_cad" name="nome_cad" type="text" readonly/>
                </p>
                <p> 
                  <label for="nome_cad">Preço (un)</label><br>
                  <span>R$</span>
                  <input id="preco" name="nome_cad" type="email" placeholder="" v-bind:value="selecionado.preco" readonly/>
                </p>
                <p> 
                  <label for="nome_cad">Quantidade<span class="ast">*</span></label><br>
                  <select v-model="qtd">
                    <option v-for="i in 10">{{ i }}</option>
                  </select>
                  <!-- <input v-model="qtd" id="nome_cad" name="nome_cad" type="number" v-bind:max="selecionado.qtd" min="1" placeholder="" style="width: 30%;" required/> -->
                </p>
                <p> 
                  <label for="nome_cad">Telefone<span class="ast">*</span></label><br>
                  <input v-model="venda.telefone" id="nome_cad" name="nome_cad" type="text" placeholder="" required/>
                </p>
                <p> 
                  <label for="nome_cad">Cep<span class="ast">*</span></label><br>
                  <input v-model="venda.cepComprador" id="nome_cad" name="nome_cad" type="text" placeholder="" required/>
                </p>
                <p> 
                  <label for="nome_cad">Cidade<span class="ast">*</span></label><br>
                  <input v-model="venda.cidade" id="nome_cad" name="nome_cad" type="text" placeholder="" required/>
                </p>
                <p> 
                  <label for="nome_cad">Estado<span class="ast">*</span></label><br>
                  <input v-model="venda.estado" id="nome_cad" name="nome_cad" type="text" placeholder="" required/>
                </p>
                <p> 
                  <label for="nome_cad">Nº Residência<span class="ast">*</span></label><br>
                  <input v-model="venda.numero" id="nome_cad" name="nome_cad" type="text" placeholder="" required/>
                </p>
                <p> 
                  <label for="nome_cad">Bairro(opcional)</label><br>
                  <input v-model="venda.bairro"  id="nome_cad" name="nome_cad" type="text" placeholder=""/>
                </p>
                <p> 
                  <label for="nome_cad">Complemento(opcional)</label><br>
                  <input v-model="venda.complemento" id="nome_cad" name="nome_cad" type="text" placeholder=""/>
                </p>
              </div>
            </div>
            <div class="card-body">
              <div class="text-center">
                <button id="pagar" type="button"  @click="geraCheckout();"  class="btn btn-primary" style="border: none;  padding: 10px 23px 10px 23px;">Próximo</button>
                <button type="button"  onclick="location.reload();"  data-dismiss="modal"  class="btn btn-danger" style="border: none;  padding: 10px 23px 10px 23px;">Cancelar</i></button>
              </div>
            </div>
      
       
          </div>
        </div>
      </div>
    </div>
  </div>

    
    <!-- Modal: modalQuickView -->
    <div class="modal fade" id="modalCompra" role="dialog" aria-labelledby="exampleModalLabel" tabindex="-1" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <button type="button" class="close" data-dismiss="modal"
							aria-label="Close" style="text-align: right; padding-right: 20px; padding-top: 10px;">
							<span aria-hidden="true">×</span>
				</button>
        <div class="modal-body">
          <div class="row">
            <div class="col-lg-5">
              <img class="d-block w-100"
              v-bind:src="selecionado.linkImg1"
              alt="imagem">
              <!--Carousel Wrapper-->
              <!-- <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails"
                data-ride="carousel">
                <div class="carousel-inner" role="listbox">
                  <div class="carousel-item active">
                    <img class="d-block w-100"
                      src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(23).jpg"
                      alt="First slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100"
                      src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(24).jpg"
                      alt="Second slide">
                  </div>
                  <div class="carousel-item">
                    <img class="d-block w-100"
                      src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(25).jpg"
                      alt="Third slide">
                  </div>
                </div>
                <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="sr-only">Next</span>
                </a>
                <ol class="carousel-indicators">
                  <li data-target="#carousel-thumb" data-slide-to="0" class="active">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(23).jpg" width="60">
                  </li>
                  <li data-target="#carousel-thumb" data-slide-to="1">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(24).jpg" width="60">
                  </li>
                  <li data-target="#carousel-thumb" data-slide-to="2">
                    <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Vertical/img%20(25).jpg" width="60">
                  </li>
                </ol>
              </div> -->
              <!--/.Carousel Wrapper-->
            </div>
            <div class="col-lg-7">
              <h2 class="h2-responsive product-name">
                <strong>{{ selecionado.nomeProduto }}</strong>
              </h2>
              <h4 class="h4-responsive">
                <span class="green-text">
                  <strong>R$ {{ selecionado.preco }}</strong>
                </span>
             
              </h4>
  
              <!--Accordion wrapper-->
              <div class="accordion md-accordion" id="accordionEx" role="tablist" aria-multiselectable="true">
  
                <!-- Accordion card -->
                <div class="card">
  
                  <!-- Card header -->
                  <div class="card-header" role="tab" id="headingOne1">
                    <a data-toggle="collapse" data-parent="#accordionEx" href="#collapseOne1" aria-expanded="true"
                      aria-controls="collapseOne1">
                      <h5 class="mb-0">
                        Informações
                      </h5>
                    </a>
                  </div>
  
                  <!-- Card body -->
                  <div id="collapseOne1" class="collapse show" role="tabpanel" aria-labelledby="headingOne1"
                    data-parent="#accordionEx">
                    <div class="card-body">
                     {{ selecionado.descricao }}
                    </div>
                  </div>
                </div> 
              </div>
              <br><br>
                <label for="nome_cad">Quantidade: </label>
                <select v-model="quantidadeTmp">
                  <option v-for="i in 10">{{ i }}</option>
                </select>
                <!-- <input  type="number" v-bind:max="selecionado.qtd" min="1" placeholder="" v-bind:value="quantidadeTmp" style="width: 10%; border: none; color: rgb(0, 162, 255);" required/><br><br> -->
              <div class="input-group mb-3">
                <div class="input-group-prepend">
                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-truck" style="font-size:22px;"></i></span>
                </div>
                  <input type="text" class="form-control" placeholder="Digite o cep do destino" v-model="dadosFrete.sCepDestino" aria-label="Username" aria-describedby="basic-addon1">
                  <button class="btn btn-primary" @click="calculaFrete();">Calcular Frete</button>
              </div>  
                  <div v-if="frete.ValorSemAdicionais != null && frete.MsgErro==''">
                    <span style="color: rgb(9, 126, 25);">Valor do frete: 𝐑$ {{ frete.ValorSemAdicionais }} <br> Tempo estimado para entrega: {{ frete.PrazoEntrega }} dias</span>
                  </div>
                  <div v-else>
                    <span style="color: rgb(126, 13, 9);"> {{ frete.MsgErro }}</span>
                  </div>
              <!-- Add to Cart -->
              <div class="card-body">
                <div class="text-center">
                  <!-- <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button> -->
                  <button v-if="usuario.email != null" class="btn btn-primary" style="padding: 10px 20px 10px 20px;" @click="controleModal();">Comprar agora</button>
                  <button v-else class="btn btn-primary" style="padding: 10px 20px 10px 20px;" onclick="window.location.href='login.html'">Comprar</button>
                  <button type="button" class="btn btn-primary" style="background-color: seagreen; border: none;  padding: 10px 23px 10px 23px;"><i class="fa fa-cart-plus" style="font-size:25px;"></i></button>
                </div>
              </div>
              <!-- /.Add to Cart -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" data-backdrop="static" data-keyboard="false" id="aguarde" role="dialog" aria-labelledby="exampleModalLabel" data-toggle="modal" tabindex="1" style="background-color: rgb(0, 0, 0);">
    <div class="modal-dialog modal-lg" role="document" >
      <div class="modal-content" style="background: transparent;">
        <img src="resources/img/carregando.gif" alt="">
      </div>
    </div>
  </div>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark  fixed-top" style="padding: 10px; background-color: teal;">
    <div class="container">
      <a style="font-size: 30px; font-family: game;" class="navbar-brand" href="#">GeekZone</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto" style="font-family: pixel; font-size: 20px;">
          <li class="nav-item">
            <a class="nav-link active" href="#">Loja</a>
          </li>
          <li class="nav-item" v-if="usuario.email != null">
            <a class="nav-link" href="pages/perfil.html">Perfil</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="sobre.html">Sobre</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-link" href="contato.html">Contato</a>
          </li> -->
          <li class="nav-item" v-if="usuario.email == null">
            <a class="nav-link" href="cadastro.html">Cadastro</a>
          </li>
          <li class="nav-item" v-if="usuario.email == null">
            <a class="nav-link" href="login.html">Login</a>
          </li> 
          <li class="nav-item" v-if="usuario.email != null">
            <a class="nav-link" @click="logout();">Sair</a>
          </li> 
          <!-- <li class="nav-item" v-if="usuario.email != null">
            <a class="nav-link" href="pages/carrinho">Carrinho</a>
          </li>  -->
          <!-- <li class="nav-item" v-else>
            <a class="nav-link" href="login.html">Carrinho</a>
          </li>  -->
        </ul>
      </div>
    </div>
  </nav>
<br><br>
  <!-- Page Content -->
  <div class="container">

    <div class="row">

      <div class="col-lg-3" style="font-family: pixel;">
        <img src="resources/img/mp.png" alt="" style="height: 180px; width: 270px;"><br><br>
        <div style="text-align: justify; font-size: 20px;" >Para compras acima de 10 unidades, entrar em contato pelo email solicitando o orçamento.
          <span style="color: yellowgreen;">geekzone.suporte@gmail.com</span>
        </div>
        <br>
        <h1 class="my-4">Categorias</h1>
        <div class="list-group dropdown" v-for="item in categorias">
          <a href="#" class="list-group-item">{{ item.nomeCategoria }}</a>
        </div>
      </div>

      <!-- /.col-lg-3 -->

      <div class="col-lg-9">

        <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
              <img class="d-block img-fluid" v-bind:src="url">
            </div>
          </div>
          <a class="carousel-control-prev" @click="anterior();" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true" ></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" @click="proximo();"  role="button" data-slide="next">
            <span class="carousel-control-next-icon"  aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>

        <div class="row" style="font-family: pixel;">

          <div class="col-lg-4 col-md-6 mb-4" v-for="item in itens">
            <div class="card h-100" @click=compra(item);>
              <img class="card-img-top" v-bind:src="item.linkImg1" alt="">
              <hr>
              <div class="card-body">
                <h4 class="card-title">
                  <a href="#">{{ item.nomeProduto }}</a>
                </h4>
                <h5>R$ {{ item.preco }}</h5>
                <p class="card-text">{{ item.descricao }}</p>
              </div>
            </div>
          </div>
        </div>
        <!-- /.row -->

      </div>
      <!-- /.col-lg-9 -->

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->
</div>
  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; GeekZone 2020</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="resources/js/vue.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
  <script src="https://apis.google.com/js/client.js"></script>
  <script src="resources/js/axios.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.15/jquery.mask.min.js"></script>
  <script src="resources/vendor/jquery/jquery.min.js"></script>
  <script src="resources/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script>
    new Vue({
      el:'#inicial',
      data:{
        categorias: [],
        itens: [],
        carousel: [],
        selecionado:{},
      dadosFrete: {
          nCdEmpresa:"",
          sDsSenha:"",
          nCdServico:"41106",
          sCepOrigem:"72007815",
          sCepDestino:"",
          nVlPeso:"1",
          nCdFormato:"1",
          nVlComprimento:"19",
          nVlAltura:"18",
          nVlLargura:"12",
          nVlDiametro:"0",
          sCdMaoPropria:"n",
          nVlValorDeclarado:"",
          sCdAvisoRecebimento:"n"
        },
        frete: {},
        venda: {
          nomeComprador:'',
          idVenda:'',
          cpfComprador: '',
          cepComprador: '',
          emailComprador: '',
          cidade: '',
          bairro: '',
          estado: '',
          numero: '',
          complemento: '',
          telefone: '',
          valorFrete: 0,
          status: '',
          codRastreio: '',
          itens: []
        },
        idCheckout: '',
        usuario: {},
        qtd: 0,
        totalProduto: 0,
        totalFreteProduto: 0,
        quantidadeTmp: 1,
        url: '',
        totalCarousel: 0,
        contador: 0

      },
      created : function() {
        const vm = this;
        axios.get('rs/categoria/todasCategorias').then(function(response){
          vm.categorias = response.data;
        });

        axios.get('rs/produto/todosProdutos').then(function(response){
          vm.itens = response.data;
        });

        axios.get('rs/produto/carousel').then(function(response){
          vm.carousel = response.data;
          vm.totalCarousel = vm.carousel.length;
          vm.url = vm.carousel[0].url;
          vm.time();
        });

        axios.get('rs/usuario/getUser').then(function(response){
          vm.usuario = response.data;
          if(vm.usuario.cpf != null){
            var tmp = 11 - parseInt(vm.usuario.cpf.length);
            if(tmp != 0){
              vm.usuario.cpf = ("00000000000" + vm.usuario.cpf).slice(-11);
            }
          }
        });
      },
      methods : {
        proximo: function(){
          const vm = this;
          vm.contador+=1;
          if(vm.contador < vm.totalCarousel){
            vm.url = vm.carousel[vm.contador].url;
          } else if(vm.contador >= vm.totalCarousel){
            vm.contador = 0;
            vm.url = vm.carousel[vm.contador].url;
          }
        },
        anterior: function(){
          const vm = this;
            vm.contador-=1;
          if(vm.contador >= 0){
            vm.url = vm.carousel[vm.contador].url;
          } else if(vm.contador < 0){
            vm.contador = vm.totalCarousel-1;
            vm.url = vm.carousel[vm.contador].url;
          }
        },
        time: function(){
          const vm = this;
          this.intervalid1 = setInterval(() => {
            vm.proximo();
          }, 10000);
        },
        abreLoad : function(){
          const vm = this;
          $("#aguarde").modal("show");
        },
        fechaLoad : function(){
          const vm = this;
          $("#aguarde").modal("hide");
        },
        compra : function(item){
          const vm = this;
          vm.selecionado = item;
          $("#modalCompra").modal("show");
        },
        calculaFrete : function(){
            const vm = this;
            vm.abreLoad();
            axios.post('rs/frete/calculaFrete', vm.dadosFrete).then(function(response){
              vm.frete = response.data["cServico"];
              var frete_tmp = vm.frete.ValorSemAdicionais;
              vm.frete.ValorSemAdicionais = parseFloat(frete_tmp) * parseInt(Math.ceil(vm.quantidadeTmp/2));
              vm.frete.ValorSemAdicionais = vm.frete.ValorSemAdicionais.toFixed(2);
            }).finally(function(){
              vm.fechaLoad();
            });
        },
        adicionaCheckout : function(foo){
					this.$refs.myform.appendChild(foo);
          $("#modalDadosPessoais").modal("hide");
          $("#modalConfirma").modal("show");
          document.getElementById("pagar").style.display = "inline";
				},
        controleModal : function(){
          $("#modalCompra").modal("hide");
          $("#modalDadosPessoais").modal("show");
        },
        verificaCampo : function(){
          const vm = this;
          var ok = true;
          if(vm.venda.cpfComprador == null || vm.venda.cpfComprador == '' ){
            ok = false;
            // alert("O cpf é obrigatório!");
          }  
  
          if(vm.venda.cepComprador  == null || vm.venda.cepComprador  == '') {
            ok = false;
            // alert("O cep é obrigatório!");
          } 
          
          if(vm.venda.emailComprador == null || vm.venda.emailComprador == ''){
            ok = false;
            // alert("O email é obrigatório!");

          }
          if(vm.venda.cidade == null || vm.venda.cidade == ''){
            ok = false;
            // alert("A cidade é obrigatório!");
          }
          
          if(vm.venda.estado == null || vm.venda.estado == ''){
            ok = false;
            // alert("O estado é obrigatório!");
          }
          
          if(vm.qtd == null || vm.qtd <= 0){
            ok = false;
            // alert("A quantidade é obrigatória!");
          }                 
        
          if(vm.venda.numero == null || vm.venda.numero == ''){
            ok = false;
            // alert("O número da residência é obrigatório!");
          }
          
          if(vm.venda.telefone == null || vm.venda.telefone == ''){
            ok = false;
            // alert("O telefone é obrigatório!");
          }
          return ok;
        },
        geraCheckout : function(){
          const vm = this;
          vm.abreLoad();
          document.getElementById("pagar").style.display = "none";
          vm.venda.cpfComprador = vm.usuario.cpf;
          var item = {
            nomeProduto: vm.selecionado.nomeProduto,
            idVenda: '',
            idProduto: vm.selecionado.idProduto,
            qtd: vm.qtd,
            precoUnidade: vm.selecionado.preco
          }
          vm.venda.itens.push(item);
				  let foo = document.createElement('script');  
				  foo.setAttribute("src","https://www.mercadopago.com.br/integrations/v1/web-payment-checkout.js");
          vm.dadosFrete.sCepDestino = vm.venda.cepComprador;
          vm.venda.nomeComprador = vm.usuario.nomeCompleto;
          axios.post('rs/frete/calculaFrete', vm.dadosFrete).then(function(response){
            var frete = response.data["cServico"];
            var frete_tmp = frete.ValorSemAdicionais;
            vm.venda.valorFrete = parseFloat(frete_tmp) * parseInt(Math.ceil(parseFloat(vm.venda.itens[0].qtd)/2));
            vm.totalProduto = parseFloat(item.qtd) *  parseFloat(item.precoUnidade);
            vm.totalFreteProduto = vm.venda.valorFrete + vm.totalProduto;
            vm.totalFreteProduto = vm.totalFreteProduto.toFixed(2);
            vm.totalProduto = vm.totalProduto.toFixed(2);

            if(vm.verificaCampo() == true && frete.MsgErro == ''){
              axios.post('rs/pagamento/paga', vm.venda).then(function(response){
                vm.id = response.data;
                foo.setAttribute("data-preference-id", response.data);
                vm.adicionaCheckout(foo);					
              }).finally(function(){
                vm.fechaLoad();
              });
            } else if(frete.MsgErro !=''){
              vm.fechaLoad();
              alert("CEP inválido!");
              location.reload();
            } else {
              vm.fechaLoad();
              alert("Preencha todos os campos obrigatórios!");
              location.reload();
            }
          });
        },
        logout : function(){
          const vm = this;
          axios.post('rs/usuario/logout').then(function(response){
              window.location.href="index.html";
          }).catch(function(erro){
            alert("Erro ao realizar logout!");
          });
        }
      },
     
     
    });
  </script> 

</body>

</html>
